// header

.header {
  padding-top: 30px;
}

.header--image {
  display: inline-block;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.header--text {
  display: inline-block;
  float:left;
}
